html {
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
    color: azure;
    font-family: "Comic Sans MS", sans-serif;
}

body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-attachment: fixed;
    margin: 0;
}


header {
    background-color: black;
    padding: 15px;
    display: flex;
    align-items: center;
}

header .my_github {
    background-color: #292f38;
    padding: 10px;
    border-radius: 30px;
    float: left;
}

header .github_head_picture {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
}

header .my_github_link {
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;
}

header h1 {
    margin: 0px;
    margin-left: 20px;
}

.main_screen {
    text-align: center;
    position: relative;
    width: 60px;
    height: 60px;
    display: flexbox;
    z-index: 1;
}

.main_btn {
    width: 300%;
    height: 100%;
    background-color: #09203f;
    border: 5px #9999FF groove;
    border-radius: 10px;

    margin: 10px;
    font-size: 20px;
    vertical-align: bottom;
    box-sizing: border-box;

    display: inline-block;
}

.main_btn:hover {
    border-style: solid;
    background-color: #537895;
}

/* #setting_btn {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;

    transform-origin: top left;
    transition: height 0.5s, width 0.5s;
}

#setting_btn figure {
    width: 60px;
    height: 60px;
}

#setting_btn figure img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    position: absolute;
}

#setting_btn:focus img {
    visibility: hidden;
}

#setting_btn:focus {
    width: 300%;
    height: 600%;
    background-color: #09203f;
    border-style: solid;
} */

.main_img {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;

    border-radius: 15px;
    left: auto;
    z-index: 0;
    /* border-style: solid;
    visibility: hidden; */
}